{% extends "back-office.html.twig" %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
    <h1>Liste des articles disponibles</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width:5%">id</th>
                <th style="width:10%">titre</th>
                <th style="width:10%">description</th>
                <th style="width:5%">couleur</th>
                <th style="width:5%">taille</th>
                <th style="width:10%">collection</th>
                <th style="width:10%">photo</th>
                <th style="width:5%">prix</th>
                <th style="width:10%">stock</th>
                <th style="width:10%">Date d'enregistrement</th>
                <th style="width:15%">actions</th>
            </tr>
            
        </thead>
        <tbody>
            {%  for vehicule in vehicules %}
                <tr>
                    <td class="align-middle">{{vehicule.id}}</td>
                    <td class="align-middle">{{vehicule.titre}}</td>
                    <td class="align-middle">{{vehicule.description}}</td>
                    <td class="align-middle">{{vehicule.couleur}}</td>
                    <td class="align-middle">{{vehicule.taille}}</td>
                    <td class="align-middle">{{vehicule.collection}}</td>
                    <td class="align-middle"><img src="/upload{{ asset(vehicule.photo)}}" alt="" class="img-fluid img-thumbnail border-dark"></td>
                    <td class="text-end align-middle">{{vehicule.prix | deviseFr}}</td>
                    <td class="align-middle">{{vehicule.stock}}</td>
                    <td class="align-middle">{{ vehicule.dateEnregistrement | date("d/m/Y H:i:s") }}</td>
                    <td class="align-middle">
                        {% include "commun/action.html.twig" with {"id" : vehicule.id , "update": "vehicule_update" , "delete" : "vehicule_suppr" }  %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colSpan="8">aucun article enregistré pour le moment</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}